body {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg") ;
    height: 100%;

    /* Center and scale the image nicely */
  
    
    background-size: auto;
  }




/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    background-color: whitesmoke;
    margin-bottom: 0;
    border-radius: 0;
  }


.nav-link,
.navbar-brand {
  color: #4aaaa5;
  cursor: pointer;
}
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
  
  /* Set white background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
footer {
    height: 4em;
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
.sidenav {
      height: auto;
      padding: 15px;
    }

.row.content {height:auto;} 
  }

.navbar-collapse {
    justify-content: flex-end;
  }
  

.nav-header {
    font-size: 32pt ;
    background-color: #4aaaa5;
    color: whitesmoke;
    margin-left: 90px;
    margin-bottom: 0px;
    padding: 10px;
    height: 100%;
}

.jumbotron {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 300px;
    max-width: 55%;
    min-width: fit-content;
    margin-bottom: auto;
}

h1 {
    padding: 10px;
    color: #4aaaa5;
    border-bottom: lightgrey 3pt solid;
    margin-bottom: 10px;
    
    }

.imgtext {
background-color: #4aaaa5 ;
color: #f1f1f1;
text-align: center;

}


.ftr {
    border-top: #4aaaa5 10px solid;
    background-color: whitesmoke;
    position: absolute;
    height: 60px;
    margin: 0 auto -4em;
    bottom: 0;
   
}


#ftrtext {
    color: #555 ;
    margin-bottom:0;
}


.btext { 
    margin: auto;
    padding: 10px;

}

.btn {
    background-color:#4aaaa5;
    color: whitesmoke;
    margin: 20px; 
}

@media screen and (max-width: 768px) {
    .ftr{
        bottom: inherit;
    }
  }


  .img-responsive {
      max-height: 300px;
      max-width: 400px;
      padding: 10px;
  }